<footer  class="text-center">



  
    <div class="text-center">
     <p>BarterMore &copy 23</p>  
      <a  href="../about">About</a>
      <a  href="../contact">Contact</a>
      <i  class="fab fa-twitter"></i>
      <i   class="fab fa-whatsapp"></i>
      <i  class="fab fa-weibo"></i>
      <i  class="fab fa-google"></i>
      <i  class="fab fa-youtube"></i>
      <i  class="fab fa-facebook"></i>
    </div>
  
    </footer>
  </body>
  
  </html>