<%- include('./partials/header.ejs')%>
<main>

    <div class="container text-center">

    <h1>
        About
    </h1>


    <p1 >
      
BarterMore is a convenient place to purchase BarterMore products and accessories from BarterMore and other manufacturers. You can buy online or call (800) MY–BarterMore (800–692–7753). You can get information about an order you placed on the BarterMore Online Store through the Order Status page. If you prefer, you can also get order status or make changes by phone at (800) 692–7753. BarterMore is a convenient place to purchase BarterMore products and accessories from BarterMore and other manufacturers. You can buy online or call (800) MY–BarterMore (800–692–7753). You can get information about an order you placed on the BarterMore Online Store through the Order Status page. If you prefer, you can also get order status or make changes by phone at (800) 692–7753. BarterMore is a convenient place to purchase BarterMore products and accessories from BarterMore and other manufacturers. You can buy online or call (800) MY–BarterMore (800–692–7753). You can get information about an order you placed on the BarterMore Online Store through the Order Status page. If you prefer, you can also get order status or make changes by phone at (800) 692–7753. BarterMore is a convenient place to purchase BarterMore products and accessories from BarterMore and other manufacturers. You can buy online or call (800) MY–BarterMore (800–692–7753). You can get information about an order you placed on the BarterMore Online Store through the Order Status page. If you prefer, you can also get order status or make changes by phone at (800) 692–7753. BarterMore is a convenient place to purchase BarterMore products and accessories from BarterMore and other manufacturers. You can buy online or call (800) MY–BarterMore (800–692–7753). You can get information about an order you placed on the BarterMore Online Store through the Order Status page. If you prefer, you can also get order status or make changes by phone at (800) 692–7753. BarterMore is a convenient place to purchase BarterMore products and accessories from BarterMore and other manufacturers. You can buy online or call (800) MY–BarterMore (800–692–7753). You can get information about an order you placed on the BarterMore Online Store through the Order Status page. If you prefer, you can also get order status or make changes by phone at (800) 692–7753. BarterMore is a convenient place to purchase BarterMore products and accessories from BarterMore and other manufacturers. You can buy online or call (800) MY–BarterMore (800–692–7753). You can get information about an order you placed on the BarterMore Online Store through the Order Status page. If you prefer, you can also get order status or make changes by phone at (800) 692–7753. BarterMore is a convenient place to purchase BarterMore products and accessories from BarterMore and other manufacturers. You can buy online or call (800) MY–BarterMore (800–692–7753). You can get information about an order you placed on the BarterMore Online Store through the Order Status page. If you prefer, you can also get order status or make changes by phone at (800) 692–7753.


    </p1>

    </div>
</main>
<%- include('./partials/footer.ejs')%>